<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Список пользователей</title>
</head>
<body>
    <h1>{{header}}</h1>
</body>
    <table>
        <tr>
            <th>Логин</th>
            <th>Имя</th>
            <th>Фамилия</th>
        </tr>

        {{#list}}
        <tr>
            <td>{{username}}</td>
            <td>{{firstname}}</td>
            <td>{{#lastname}}{{.}}{{/lastname}}</td>

        </tr>
        {{/list}}

    </table>

</html>