<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Список пользователей</title>
    </head>
    <body>
        <h1>Пользователь № {{user.id}}</h1>
        <p>
            <strong>Логин: </strong> {{user.username}}
        </p>

        <p>
            <strong>Имя: </strong> {{user.firstname}}
        </p>

        <p>
            <strong>Фамилия: </strong> {{#user}} {{#lastname}} {{.}} {{/lastname}} {{/user}}
        </p>

        <p>
            <strong>Пароль: </strong> {{user.password}}
        </p>
    </body>


</html>